~$*
*/~$*

*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

*.png
*.jpg

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

